.text-primary{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    align-items: center;
    color: #333;
    background-color: aliceblue;
}


h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 100px;
    text-align: center;
    padding: 0 9px;
    margin: 5px;
    color: #333;
}