{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ request.user.email }}</h2>
    <div id="navbar">
        <button data-page="inbox" class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button data-page="compose" class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button data-page="sent" class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button data-page="archive" class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    
        <div id="emails-view">
        </div>

        <div id="sent-view">
            <h3>Sented Email</h3>
            <form>
                <a id="compose-subject">Subject: {request.user.subject}</a>
                <a>SENDER: {{ email.sender.email }}</a>
                <br>
                <a>Recipient: {{ email.recipients.all.0.email }}</a>
                <br>
                <a id="compose-subject">Subject: {{ email.subject }}</a>
                <a>Body: {{ email.body }}</a>
            </form>
        </div>

        <div id="archieve-view">
            <div id="archieve-view">
                <h3>Old Email</h3>
                <form>
                    <a >SENDER:{request.user.email}</a>
                    <br>
                    <a>Recipient:{request.user.recipient}</a>
                    <br>
                    <a id="compose-subject">Subject: {request.user.subject}</a>
                    <a>Body : {request.user.body}</a>
                </form>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}