{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>

    {% if request.method == "POST" %}
        <h2>Successfully created!</h2>
        <ul>
            {% for new in create_news %}
                <li>{{ new }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <form method="post" action="{% url 'create' %}">
            {% csrf_token %}
            
            <label for="textar">Enter Title:</label>
            <input id="title" placeholder="enter Title">
            <textarea id="textar" name="textar" rows="4" cols="50"></textarea>
            <button type="submit">Save</button>
        </form>
    {% endif %}
{% endblock %}
