{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>

    {% if request.method == "POST" %}
        <h2>Successfully created!</h2>
        <ul>
            <p>Visit your new page !</p>
            <a src="/project1/wiki/encyclopedia/templates/encyclopedia/newpage.html"></a>
        </ul>
    {% else %}
    {% for ar in articles %}
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <label for="title">Enter Title:</label>
        <input name="title" class="title" placeholder="enter Title">
        <textarea name="textar" class="textar" rows="4" cols="50"></textarea>
        <button type="submit">Save</button>
    </form>
    {% endfor %}
        </form>
    {% endif %}
{% endblock %}
