{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<body id="index">
    <h1>All Pages</h1>
    {% if request.method == "GET" %}
        <h2>All created pages</h2>
        <form method="get" action="{% url 'index' %}">
            {% csrf_token %}
            <ul>
            
            </ul>
        </form>
    {% else %}
        <form method="post" action="{% url 'page' %}">
            {% csrf_token %}
            <!-- Include form fields here if needed -->
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}
</body>
