{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    {% if request.method == "GET" %}
        <h2>All created pages</h2>
        <form method="get" action="{% url 'index' %}">
            {% csrf_token %}
            <ul>
                <a href="{% url 'index' %}">Index of pages</a>
                {% for ran in save %}
                    <li>Created pages title: {{ ran.title }} text: {{ ran.text_page }}<button type="submit">Go to Page</button></li>
                {% endfor %}
            </ul>
        </form>
    {% else %}
        <form method="post" action="{% url 'article' %}">
            {% csrf_token %}
            <!-- Include form fields here if needed -->
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}
