{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <ul>
        <a>All the pages created</a>
        {%if request.method == "GET"%}
    <h1> All created pages</h1>
    <form method="get" action="{% url '' %}">
        {% csrf_token %}
        <ul>
            <a href="{% url '' %}">Index of pages</a>
            {% for ran in save %}
            <ul>
                <li> Created pages title: {{ ran.title }} text: {{ ran.text_page }}</li><button type="submit">Go to Page</button>
            </ul>
            {% endfor %}
        </ul>
    </form>
    {% else %}
    <form method="post" action="{% url 'article' %}"></form>
    {% endif %}
{% endblock %}