{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if request.method == "POST" %}
        {% for ran in save %}
            <h1>{{ ran.title }}</h1>
            <p>{{ ran.text_page }}</p>
            <form method="get" action="{% url 'page' %}">
                {% csrf_token %}
                <!-- Include any form fields here if needed -->
                <button type="submit">Go to Page</button>
            </form>
        {% endfor %}
    {% else %}
        <form method="post" action="{% url 'page' %}">
            {% csrf_token %}
            <!-- Include any form fields here if needed -->
            <button type="submit">Submit</button>
        </form>
        <a href="{% url 'index' %}">Go back to index</a>
    {% endif %}
{% endblock %}
