{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{%block body%}
<body>
    {%if request.method == "GET"%}
    <h1>Random page</h1>
    <form method="get" action="{% url 'page' %}">
        {% csrf_token %}
        <h2>Get a random Article</h2>
        <ul>
            {% for ran in save %}
            <ul>
                <li>random page {{ ran.title }} to {{ ran.text_page }}</li>
            </ul>
            {% endfor %}
        </ul>
    </form>
    {% else %}
    <form method="post" action="{% url 'page' %}"></form>
    <button type="submit">Go back to index</button>
    {% endif %}
</body>
{% endblock %}