{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Random page</h1>
    <form method="post" action="{% url 'random' %}">
        {% csrf_token %}
        <ul>
            <a href="{% url 'random' %}">Random Page</a>
            {% for ran in save %}
                <li>random page {{ ran.title }} to {{ ran.text_page }}</li>
            {% endfor %}
        </ul>
        <button type="submit">Get Random Page</button>
    </form>
{% endblock %}
