{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {%if request.method == "GET"%}
    <h1>Random page</h1>
    <form method="get" action="{% url 'random' %}">
        {% csrf_token %}
        <h2>Get a random Article</h2>
        <ul>
            <a href="{% url 'random' %}">Random Page</a>
            {% for ran in save %}
            <ul>
                <li>random page {{ ran.title }} to {{ ran.text_page }}</li>
            </ul>
            {% endfor %}
        </ul>
        <button type="submit">Get Random Page</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'article' %}"></form>
    {% endif %}
{% endblock %}
